{% load static %}

{% load account socialaccount %}
{% get_providers as socialaccount_providers %}


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
  <link rel="stylesheet" href="{% static 'css/all.min.css' %}">   

</head>

<body>
  <div class="wrapper">
    <div class="page-nav-line">
      <div>
        <a class=" text-decoration-none" href="{% url 'home' %}" style="color: var(--main-color)">
          Home
        </a>
      </div>
      <div class=""> &nbsp; &gt; &nbsp;</div>
      <div>Login</div>
    </div>
    <h1>Hello Again!</h1>
    <p>Welcome back you've <br> been missed!</p>
    <form action="{% url 'account_login' %}" class="sign-in-form" method="post">
      {% csrf_token %}      
      
      <div>
        {{form.login}}      
        <div class="fs-6 text-danger">{{ form.username.errors }}</div>
      </div>

      <div>
        {{form.password}}
        <div class="fs-6 text-danger">{{ form.password.errors }}</div>
      </div>
      
      <p class="recover">
        <a href="#">Forget Password</a>
      </p>
    <button type="submit" >Sign in</button>
    </form>
    <p class="or">
      ----- or continue with -----
    </p>
    <div class="icons">
      <div class="social-media d-flex">
            
        {% if socialaccount_providers %}
            {% include "socialaccount/snippets/provider_list.html" with process="login" %}
            {% include "socialaccount/snippets/login_extra.html" %}
        {% endif %}
      </div>
    </div>
    <div class="not-member">
      Not a member? <a href="{{ signup_url }}">Register Now</a>
    </div>
  </div>

</body>

</html>
