{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Password reset</title>

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}">

</head>

<body>
    <div class="wrapper">
        <!-- navigation -->
        <div class="page-nav-line">
            <div>
                <a class=" text-decoration-none" href="{% url 'home' %}" style="color: var(--main-color)">
                    Home
                </a>
            </div>
            <div class=""> &nbsp; &gt; &nbsp;</div>
            <div>Change Password</div>
        </div>

        <h4 style="margin-top: 20px;">
            Password is now Changed

        </h4>
</div>
</body>
</html>