{% load static %}

{% load i18n %}
{% load account %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Password Reset Done</title>

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}">

</head>

<body>
    <div class="wrapper">
        <!-- navigation -->
        <div class="page-nav-line">
            <div>
                <a class=" text-decoration-none" href="{% url 'home' %}" style="color: var(--main-color)">
                    Home
                </a>
            </div>
            <div class=""> &nbsp; &gt; &nbsp;</div>
            <div>Password Reset</div>
        </div>
        <!-- <h1>{% trans "Password Reset" %}</h1> -->

        {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
        {% endif %}

        <h4 style="margin-top: 20px;">
            link sent .. please check your mail

        </h4>
</div>
</body>
</html>