{% extends "account/base.html" %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<div class="container-sm text-center w-50 my-5 py-5 border rounded-3" >

    <h1>{% trans "Password Reset" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {% bootstrap_form form %}

        <input type="submit" class="btn btn-outline-warning" value="{% trans 'Reset My Password' %}" />
        
    </form>

</div>
    {% endblock %}
