{% load static %}

{% load account socialaccount %}
{% get_providers as socialaccount_providers %}


{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}



<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Change Password</title>

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}">

</head>

<body>
    <div class="wrapper">
        <!-- navigation -->
        <div class="page-nav-line">
            <div>
                <a class=" text-decoration-none" href="{% url 'home' %}" style="color: var(--main-color)">
                    Home
                </a>
            </div>
            <div class=""> &nbsp; &gt; &nbsp;</div>
            <div>Change Password</div>
        </div>
        <h1>{% trans "Change Password" %}</h1>

        
        <!-- form -->
        <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
            {% csrf_token %}

            <!-- form errors -->
            {% if form.errors %}
            <div class="form-errors">
            {% for key, val in form.errors.items %}
                {{val}}
                {% endfor %}
            </div>
            {% endif %}
            <div>
                {{form.password1}}
                <div class="form-errors">{{ form.password1.errors }}</div>
            </div>

            <div>
                {{form.password2}}
                <div class="form-errors">{{ form.password2.errors }}</div>
            </div>


            <button type="submit">{% trans "Change Password" %}</button>
            <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
        </form>
    </div>

</body>

</html>

<div class="container p-5">

    <h2 class="font-weight-bold mt-3">{% trans "Change Password" %}</h2>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {% bootstrap_form form%}
        <button type="submit" name="action">{% trans "Change Password" %}</button>
        <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
    </form>
</div>

{% endblock %}