{% load static %}


{% load i18n %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Password reset</title>

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}">

</head>

<body>
    <div class="wrapper">
        <!-- navigation -->
        <div class="page-nav-line">
            <div>
                <a class=" text-decoration-none" href="{% url 'home' %}" style="color: var(--main-color)">
                    Home
                </a>
            </div>
            <div class=""> &nbsp; &gt; &nbsp;</div>
            <div>Change Password</div>
        </div>
        
        <!-- heading -->
        <div>
            {% if token_fail %}
            <h1 >{% trans "Bad Token" %}</h1>
            {% else %}
            <h1 >{% trans "Change Password" %}</h1>
            {% endif %}
        </div>

        <!-- form -->
        <div>
            {% if token_fail %}
                {% url 'account_reset_password' as passwd_reset_url %}
                <h1 class="font-weight-bold mt-3">
                    {% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
                </h1>
            {% else %}
            <form method="POST" action="{{action_url}}" class="password_change">

                <form method="POST" action="{{ action_url }}">
                    {% csrf_token %}
                    
                    <div>
                        {{form.password1}}
                        <div class="form-errors">{{ form.password1.errors }}</div>
                    </div>
                    <div>
                        {{form.password2}}
                        <div class="form-errors">{{ form.password2.errors }}</div>
                    </div>                   
                    <button type="submit">{% trans 'change password' %}</button>
    
                </form>
            {% endif %}
        </div>
    </div>