{% extends "account/base.html" %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <div class="container p-5">
        <h1>
            {% if token_fail %}
            <h2 class="font-weight-bold mt-3">{% trans "Bad Token" %}</h2>
            {% else %}
            <h2 class="font-weight-bold mt-3">{% trans "Change Password" %}</h2>
            {% endif %}
        </h1>
    
        {% if token_fail %}
            {% url 'account_reset_password' as passwd_reset_url %}
            <h2 class="font-weight-bold mt-3">
                {% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
            </h2>
        {% else %}
            <form method="POST" action="{{ action_url }}">
                {% csrf_token %}
                {% bootstrap_form form%}                   
                <button class="btn btn-primary" type="submit">{% trans 'change password' %}</button>

            </form>
        {% endif %}
    </div>
{% endblock %}
