{% extends "account/base.html" %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="container-sm text-center w-50 my-5 py-5 border rounded-3">

<h1>{% trans "Sign Up" %}</h1>

<p>{% blocktrans %}Already have an account?  <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {% bootstrap_form form %}

  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="primaryAction w-50 btn  btn-primary m-3" type="submit">{% trans "Sign Up" %}</button>

</form>
</div>
{% endblock %}
