{% extends 'base.html' %} {% load static %}

<!-- css/js section -->

{% block script %}
<script src="{% static 'home/js/booking.js' %}" defer></script>
{% endblock %}

<!-- main content -->
{% block content %}
<div class="d-flex flex-column container">
  <div class="mb-3">
    <div class="card custom-text-primary">
      <div class="card-body d-flex justify-content-between align-items-center">
        <div class="d-flex justify-content-between">
          <div>
            <a href="#">
              <img
                src="{{ coach.photo.url }}"
                class="coach-img img-fluid"
                alt="coach-img"
              />
            </a>
          </div>
          <div>
            <h4>{{coach.user.username}}</h4>
            <p>{{coach.speciality}}</p>
            <div>
              <div>
                {% if coach.rating > 0%}
                <i class="fa-solid fa-star" style="color: gold"></i>
                {% endif %} {% if coach.rating > 1%}
                <i class="fa-solid fa-star" style="color: gold"></i>
                {% endif %} {% if coach.rating > 2%}
                <i class="fa-solid fa-star" style="color: gold"></i>
                {% endif %} {% if coach.rating > 3%}
                <i class="fa-solid fa-star" style="color: gold"></i>
                {% endif %} {% if coach.rating > 4%}
                <i class="fa-solid fa-star" style="color: gold"></i>
                {% endif %}
              </div>
            </div>
            <div>
              <i class="bi bi-geo-alt-fill"></i>
              <span>{{coach.location}}</span>
            </div>
          </div>
        </div>
        <div
          class="d-flex flex-column justify-content-between align-items-center"
          style="min-width: 25%; max-width: 50%;"
        >
          <form action="{% url 'payment' %}" method="POST">
            {% csrf_token %}
            <input
              type="date"
              data-coach-id="{{coach.id}}"
              data-url="{% url 'get_coach_available_hours' pk=coach.id _date='datePlaceHolder' %}"
              class="form-control"
              id="session-date"
              name="session_date"
              min={{today}}
            />
            <input name="coach_id" value="{{coach.id}}" hidden />
            <div
              class="d-flex justify-content-between w-100 mt-2"
              style="min-width: 25%"
            >
              <div class="d-flex flex-column" style="min-width: 100%">
                <div class="form-check form-check-inline" id="avail-hours">
                  <div
                    class="btn-group"
                    role="group"
                    aria-label="Basic radio toggle button group"
                  >
                    <input
                      type="radio"
                      class="btn-check"
                      name="sessionHour"
                      id="option1"
                      autocomplete="off"
                      checked
                    />
                    <label class="btn custom-btn-outline-primary" for="option1"
                      >--:--</label
                    >

                    <input
                      type="radio"
                      class="btn-check"
                      name="sessionHour"
                      id="option2"
                      autocomplete="off"
                    />
                    <label class="btn custom-btn-outline-primary" for="option2"
                      >--:--</label
                    >

                    <input
                      type="radio"
                      class="btn-check"
                      name="sessionHour"
                      id="option3"
                      autocomplete="off"
                    />
                    <label class="btn custom-btn-outline-primary" for="option3"
                      >--:--</label
                    >

                    <input
                      type="radio"
                      class="btn-check"
                      name="sessionHour"
                      id="option4"
                      autocomplete="off"
                    />
                    <label class="btn custom-btn-outline-primary" for="option4"
                      >--:--</label
                    >

                    <input
                      type="radio"
                      class="btn-check"
                      name="sessionHour"
                      id="option5"
                      autocomplete="off"
                    />
                    <label class="btn custom-btn-outline-primary" for="option5"
                      >--:--</label
                    >
                  </div>
                </div>
                <button
                  id="book_button"
                  type="submit"
                  class="btn custom-btn-danger flex-grow-1 mt-2"
                  style="min-width: 100%"
                  disabled
                >
                  BOOK
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex">
    <div class="d-flex flex-column w-100">
      <div class="card mb-3">
        <div class="card-body">
          <h2 class="custom-text-primary">Private Sessions</h2>
          <div>
            {% if private_session_set %}
            <ul>
              {% for private_session in private_session_set %}
              <li>{{private_session}}</li>
              {% endfor %}
            </ul>
            {% else %}
            <h6>No Scheduled Private Sessions booked.</h6>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="card mb-3">
        <div class="card-body">
          <h2 class="custom-text-primary">Group Sessions</h2>
          <div>
            {% if group_session_set %}
            <ul>
              {% for group_session in group_session_set %}
              <li>{{group_session}}</li>
              {% endfor %}
            </ul>
            {% else %}
            <h6>No Scheduled Group Sessions</h6>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
