{% extends 'base.html' %} {% load static %}

<!-- script block -->

{% block style %}
<script src="{% static 'js/custom.js' %}" defer></script>

{% endblock %}


<!-- content block -->
{% block content %}

<div class="container-fluid">
  <div class="d-flex flex-column flex-lg-row justify-content-start m-3">
    
    <!-- Search Card -->
    <div class="m-3">
      <div class="card w-100">
        <div class="card-header">Filter By</div>

        <div class="card-body">
          <form method="GET" action="{% url 'coaches' %}">
            <div>
              <input
                type="text"
                id="nameInput"
                class="form-control"
                name="coach_name_q"
                placeholder="Coach Name ..."
              />
            </div>
            <div class="mt-2">
              <input
                type="text"
                id="specialityInput"
                class="form-control"
                name="coach_speciality_q"
                placeholder="Coach Speciality ..."
              />
            </div>
            <hr />
            <div>
              <label class="form-label">Min Price</label>
              <div class="d-flex">
                <input
                  type="range"
                  value="0"
                  class="form-range me-2 slider"
                  id="minPriceInput"
                  name="min_price_q"
                  min="0"
                  max="1000"
                  oninput="this.nextElementSibling.value = this.value"
                />
                <output id="min_price_q_output">0</output>
              </div>
            </div>
            <div>
              <label class="form-label">Max Price</label>
              <div class="d-flex">
                <input
                  type="range"
                  value="1000"
                  class="form-range me-2 slider"
                  id="maxPriceInput"
                  name="max_price_q"
                  min="0"
                  max="1000"
                  oninput="this.nextElementSibling.value = this.value"
                />
                <output id="max_price_q_output">1000</output>
              </div>
            </div>
            <hr />
            <div hidden>
              <label class="form-label">Available In</label>
              <input type="date" class="form-control" name="available_date_q" />
            </div>
            <hr />
            <button type="submit" class="btn custom-btn-primary w-100 my-2">
              Search
            </button>
            <a href="{% url 'coaches' %}" class="btn custom-btn-danger w-100">Clear</a>
          </form>
        </div>
      </div>
    </div>

    <!-- Coaches Cards -->
    <div class="flex-grow-1 custom-text-primary">
      <h1>Coaches</h1>
      <div class="m-3 flex-grow-1">
        {% for coach in coach_list %}
        <div>
          <div class="card custom-text-primary mb-3">
            <div class="card-body d-flex justify-content-between">
              <div class="d-flex justify-content-between">
                <div>
                  <a href="#">
                    <img
                      src="{{ coach.photo.url }}"
                      class="coach-img img-fluid"
                      alt="coach-img"
                    />
                  </a>
                </div>
                <div>
                  <h4>{{coach.user.username}}</h4>
                  <p>{{coach.speciality}}</p>
                  <div>
                    <div>
                      {% if coach.rating > 0%}
                      <i class="fa-solid fa-star" style="color: gold"></i>
                      {% endif %} {% if coach.rating > 1%}
                      <i class="fa-solid fa-star" style="color: gold"></i>
                      {% endif %} {% if coach.rating > 2%}
                      <i class="fa-solid fa-star" style="color: gold"></i>
                      {% endif %} {% if coach.rating > 3%}
                      <i class="fa-solid fa-star" style="color: gold"></i>
                      {% endif %} {% if coach.rating > 4%}
                      <i class="fa-solid fa-star" style="color: gold"></i>
                      {% endif %}
                    </div>
                  </div>
                  <div>
                    <i class="bi bi-geo-alt-fill"></i>
                    <span>{{coach.location}}</span>
                  </div>
                </div>
              </div>
              <div>
                <div>
                  <div class="m-2">
                    <i class="bi bi-universal-access"></i>
                    {% if coach.available_for_kids %}
                    <span>Available for kids</span>
                    {% else %}
                    <span>Not Available for kids</span>
                    {% endif %}
                  </div>
                  <div class="m-2">
                    <i class="bi bi-cash"></i>
                    <span>{{coach.price_per_hour}} per hour.</span>
                  </div>
                  <div class="m-2">
                    <i class="bi bi-cash"></i>
                    <span>{{coach.price_per_30_mins}} per 30 min.</span>
                  </div>
                </div>
              </div>
              <div>
                <div class="d-flex flex-column gap-2">
                  <div class="w-100">
                    <a
                      href="{% url 'coach_details' coach.id %}"
                      class="btn custom-btn-outline-primary"
                    >
                      VIEW COACH PROFILE
                    </a>
                  </div>
                  <div class="w-100">
                    <a
                      href="{% url 'booking' pk=coach.id %}"
                      class="btn custom-btn-primary w-100"
                    >
                      BOOK APPOINTMENT
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>


  </div>
</div>

{% endblock %}
