{% extends 'base.html' %}
{% load static %}

{% block style %}


<link rel="stylesheet" href="{% static '/home/css/styles.css' %}">

<script>
    let coach_stats_url = "{% url 'coach_stats' %}";
    let client_stats_url = "{% url 'client_stats' %}";
    let session_stats_url = "{% url 'session_stats' %}";
    let sessions_per_coach_url = "{% url 'sessions_per_coach' %}";
    let sessions_per_client_url = "{% url 'sessions_per_client' %}";
    let close_customer_message_url = "{% url 'close_customer_message' %}"
    let sessions_per_category_url = "{% url 'sessions_per_category' %}";
    let customer_messages_url = "{% url 'customer_messages' %}"
</script>
<script src="{% static 'home/js/dashboard.js' %}" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
{% endblock %}

{% block content %}
<!-- TODO -->
<!-- add number of messages , number of users as bell notification - float right -->
<div class="d-flex justify-content-between m-3">
    <h3 class="m-3">Statistics</h3>
    <div>
        <div style="position: relative;">
            <a href="#user-messages-section">
                <i class="fas fa-bell" style="color: var(--main-color4);font-size: 40px;" aria-hidden="true"></i>
            </a>
            <div id="notification" style="background-color: var(--main-color);width: 10px;height: 10px;border-radius: 50%;position: absolute;top: 10%;left: 10%;"></div>
        </div>
        <!-- <button class="btn btn-danger">Test</button> -->
    </div>
</div>

<div class="d-flex flex-column">
    <div class="d-flex justify-content-around">
    
    
        <div class="custom-card custom-narrow-card">
            <div class="d-flex justify-content-between">
                <div>
                    <div class="text-secondary">Coaches</div>
                    <h5>
                        <i class="fa fa-id-badge" aria-hidden="true"></i>
                        <span id="currentNoOfCoaches"></span>
                    </h5>
                </div>
                <div></div>
            </div>
            <canvas id="coachChart"></canvas>
            <div class="text-end border-top py-3">
                <a href="{% url 'manage_coaches' %}" class="btn btn-warning">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                </a>
            </div>
        </div>
        <div class="custom-card custom-narrow-card">
            <div class="d-flex justify-content-between">
                <div>
                    <div class="text-secondary">Clients</div>
                    <h5>
                        <i class="fa fa-user-circle" aria-hidden="true"></i>
                        <span id="currentNoOfClients"></span>
                    </h5>
                </div>
                <div></div>
            </div>
            <canvas id="clientChart"></canvas>
            <div class="text-end border-top py-3">
                <a href="{% url 'manage_coaches' %}" class="btn btn-warning">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                </a>
            </div>
        </div>
        <div class="custom-card custom-narrow-card">
            <div class="d-flex justify-content-between">
                <div>
                    <div class="text-secondary">Sessions</div>
                    <h5>
                        <i class="fa fa-users" aria-hidden="true"></i>
                        <span id="currentNoOfSessions"></span>
                        
                    </h5>
                </div>
                <div></div>
            </div>
            <canvas id="sessionChart"></canvas>
      
        </div>
    
    </div>
    <div class="d-flex justify-content-around">
        <!-- session per coach -->
        <div class="custom-card custom-narrow-card">
            <div class="d-flex justify-content-between">
                <div>
                    <div class="text-secondary">Session Per Coach</div>
                    <h5>
                        <i class="fa fa-id-badge" aria-hidden="true"></i>
                        <span id="maxNumberOfSessionPerCoach"></span>
                        
                        
                    </h5>
                </div>
                <div></div>
            </div>
            <canvas style="height: 70%;" id="sessionPerCoachChart"></canvas>
        
        </div>

        <!-- session per category -->
        <div class="custom-card custom-narrow-card">
            <div class="d-flex justify-content-between">
                <div>
                    <div class="text-secondary">Session Per Cetegory</div>
                    <h5>
                        <i class="fa fa-id-badge" aria-hidden="true"></i>
                        <span id="maxNumberOfSessionPerCategory"></span>
                        
                        
                    </h5>
                </div>
                <div></div>
            </div>
            <canvas style="height: 70%;" id="sessionPerCategoryChart"></canvas>
        
        </div>

        <!-- session per client -->
        <div class="custom-card custom-narrow-card">
            <div class="d-flex justify-content-between">
                <div>
                    <div class="text-secondary">Session Per Client</div>
                    <h5>
                        <i class="fa fa-user-circle" aria-hidden="true"></i>
                        <span id="maxNumberOfSessionPerClient"></span>
                    </h5>
                </div>
                <div></div>
            </div>
            <canvas style="height: 70%;" id="sessionPerClientChart"></canvas>
        </div>
    </div>
</div>

<h3 class="m-3">Upcomming Sessions</h3>
    <div class="custom-card custom-ultra-wide-card">
        <div class="d-flex justify-content-between">
            <div>
                <div class="text-secondary">Upcomming Sessions</div>
                <h5>
                    <i class="fa fa-user-circle" aria-hidden="true"></i>
                    <span>{{ upcomming_sessions | length}}</span>
                </h5>
            </div>
            <div>

            </div>
        </div>
        <div class="list-gorup  list-group-flush mt-3" id="upcomming-sessions">
            {% for session in upcomming_sessions %}
            <div class="card custom-text-primary mb-3">
                <div class="card-body d-flex justify-content-between">
                  <div class="d-flex justify-content-between">
                    <div>
                      <a href="{% url 'coach_details' session.coach.id %}">
                        <img
                          src="{{ session.coach.photo.url }}"
                          style="width: 100px;height: 100px;border-radius: 100%;margin-right: 10px;"
                          alt="coach-img"
                        />
                      </a>
                    </div>
                    <div>
                      <h4>{{session.coach.user.username}}</h4>
                      <p>{{session.coach.speciality}}</p>
                      <div>
                        <div>
                          {% if session.coach.rating > 0%}
                          <i class="fa-solid fa-star" style="color: gold"></i>
                          {% endif %} {% if session.coach.rating > 1%}
                          <i class="fa-solid fa-star" style="color: gold"></i>
                          {% endif %} {% if session.coach.rating > 2%}
                          <i class="fa-solid fa-star" style="color: gold"></i>
                          {% endif %} {% if session.coach.rating > 3%}
                          <i class="fa-solid fa-star" style="color: gold"></i>
                          {% endif %} {% if session.coach.rating > 4%}
                          <i class="fa-solid fa-star" style="color: gold"></i>
                          {% endif %}
                        </div>
                      </div>
                      <div>
                        <i class="bi bi-geo-alt-fill"></i>
                        <span>{{session.coach.location}}</span>
                      </div>
                    </div>
                  </div>
                  <div>
                    <div>
                      <div class="m-2">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                        <span>{{session.time |date:"M d, Y T h:i:s" }}.</span>
                      </div>
                      <div class="m-2">
                        <i class="fa fa-clock" aria-hidden="true"></i>
                        <span>{{session.duration}}</span>
                      </div>
                    </div>
                  </div>
                  <div>
                    <div class="d-flex flex-column gap-2">
                      <div class="w-100 list-group list-group-flush">
                        <h5 class="text-warning">Client List</h5>
                        {% for client in session.clients.all %}
                            <div class="list-group-item">{{client}}</div>
                        {% endfor %}
                     
                      </div>
                      
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
        </div>
    </div>

<h3 id="user-messages-section" class="m-3">User Messages</h3>
    <div class="custom-card custom-ultra-wide-card">
        <div class="d-flex flex-column justify-content-between">
            <div>
                <div class="text-secondary">user Messages</div>
                <h5 >
                    <i class="fa fa-user-circle" aria-hidden="true"></i>
                    <span id="noOfMsgs"></span>
                </h5>
            </div>
            <div id="msgLst" class="list-group">

            </div>
        </div>
        <canvas style="height: 70%;" id="sessionPerClientChart"></canvas>
    </div>
{% endblock %}