{% extends 'base.html' %}

<!-- Loading static -->
{% load static %}

{% block style %}
<link href="{% static 'css/custom.css' %}" rel="stylesheet" />

{% endblock %}

<!-- content block -->
{% block content %}
<div class="masthead" style="background-image: url('{% static "images/lc_5.jpg" %}') ;">
  <div
    class=" d-flex position-absolute top-50 start-50 translate-middle"
  >
    <input class="form-control me-4 p-2" style="width:60vw;"  type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-warning d-flex" type="submit">
        <i class="bi bi-search"></i>
        <span class="ms-3">Search</span>
    </button>
</div>
</div>
{% endblock %}
