{% extends 'base.html' %}

{% load bootstrap5 %}
{% bootstrap_css %}
{%bootstrap_javascript %}
{% bootstrap_messages %}

{% block content %}
    <div class="container py-3 my-3 w-50 bg-light" style="border-radius: 20px;">
        
        <div class="container w-75">
            <form method="post" class="clearfix">
                {% csrf_token %}
                {% bootstrap_form user_form %}
                <hr>
                {% bootstrap_form coach_form %}
                <input class="btn btn-secondary float-end" type="submit" value="Update">
            </form>
        </div>
    </div>
{% endblock %}