body {
  /* background-color: var(--main-color); */
  background-color: white;
}

.custom-card {
  background-color: white;
  border-radius: 20px;
  height: 320px;
  margin: 20px;
  padding: 10px;
  border: 2px solid var(--main-color);
}
.custom-narrow-card {
  width: 400px;
}
.custom-wide-card {
  width: 600px;
}