body {
  /* background-color: var(--main-color); */
  background-color: white;
}

.custom-card {
  background-color: white;
  border-radius: 20px;
  height: 320px;
  margin: 20px;
  padding: 10px;
  border: 2px solid var(--main-color5);
}
.custom-narrow-card {
  width: 400px;
}
.custom-wide-card {
  width: 600px;
}

.custom-ultra-wide-card {
  width: 95%;
  height: 100%;
}


.custom-btn-outline-primary:hover {
  color: var(--main-color);
  border-color: var(--main-color);
  background-color: var(--main-color4);
}

.custom-btn-outline-primary:checked, .btn-check:checked {
  color: var(--main-color);
  border-color: var(--main-color);
  background-color: var(--main-color4);
} 

.checked {
  color: var(--main-color);
  border-color: var(--main-color);
  background-color: var(--main-color4);
}
