{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nawarly</title>

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
    <script src="{% static 'js/bootstrap.bundle.min.js' %}" defer></script>

    <link rel="stylesheet" href="{% static 'css/normalize.css' %}" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}" />

    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />



    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js" defer></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js" defer></script>
  </head>
  {% block style %} {% endblock %}
  <body>
    <!-- Start Header -->
    <div class="header" id="header">
      <div class="container">
        <a href="http://localhost:8000/" class="logo">Nawarly</a>
        <ul class="main-nav">
          <li><a href="{% url 'home' %}">Home</a></li>
          <li><a href="{% url 'coaches' %}">Coaches</a></li>
          <!-- <li><a href="{% url 'sessions' %}">Group Sessions</a></li> -->
          <li><a href="{% url 'contact_us' %}">Contact Us</a></li>
          <li>
            <a href="#">Category</a>
            <!-- Start Categories menu -->
            <div class="mega-menu">
              <ul class="links">
                <li>
                  <a href="{% url 'coaches' %}?coach_speciality_q=Relations">Relations</a>
                </li>
                <li>
                  <a href="{% url 'coaches' %}?coach_speciality_q=Startup">Startup</a>
                </li>
                <li>
                  <a href="{% url 'coaches' %}?coach_speciality_q=Social">Social Life</a>
                </li>
                <li>
                  <a href="{% url 'coaches' %}?coach_speciality_q=Skills">Skills</a>
                </li>
                <li>
                  <a href="{% url 'coaches' %}?coach_speciality_q=ay 7aga">ay 7aga</a>
                </li>
              </ul>
            </div>
            <!-- End Categories menu -->
          {% if user.is_superuser %}
          <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
          {% endif %}
          </li>
          <li>
            {% if request.user.is_authenticated %}
              <a href="/accounts/logout" class="nav-item nav-link"> LogOut </a>
            {% else %}
              <a href="/accounts/login" class="nav-item nav-link"> LogIn </a>
            {% endif %}
        </li>
        </ul>
      </div>
    </div>
    <!-- End Header -->
    <div id="main-content">

      {% block content %}
      
      {% endblock %}
    </div>
    <!-- Start Footer -->
    <div class="footer">
      <div class="container">
        <div class="box">
          <h3>Nawarly</h3>
          <ul class="social">
            <li>
              <a href="#" class="facebook">
                <ion-icon name="logo-facebook"></ion-icon>
              </a>
            </li>
            <li>
              <a href="#" class="twitter">
                <ion-icon name="logo-instagram"></ion-icon>
              </a>
            </li>
            <li>
              <a href="#" class="youtube">
                <ion-icon name="logo-youtube"></ion-icon>
              </a>
            </li>
          </ul>
        </div>
        <div class="box">
          <div class="line">
            <i class="fas fa-map-marker-alt fa-fw"></i>
            <div class="info">Egypt, Cairo</div>
          </div>
          <div class="line">
            <i class="far fa-clock fa-fw"></i>
            <div class="info">Business Hours: From 10:00 To 18:00</div>
          </div>
          <div class="line">
            <i class="fas fa-phone-volume fa-fw"></i>
            <div class="info">
              <span>+2010000000</span>
              <span>+2011111111</span>
            </div>
          </div>
        </div>
      </div>
      <p class="copyright">Copyright © 2023 Nawarly. All Rights Reserved.</p>
    </div>
    <!-- End Footer -->

  
  {% block script %}
  {% endblock %}
  </body>

</html>