{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-3 mt-4 me-3">
            <div class="card w-100">
                <div class="card-header">Filter By</div>

                <div class="card-body">
                    <div>
                        <label class="filter-label">sub-category</label>
                        <input type="search" class="filter-input">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-8 mt-4 me-3">
            <div class="row mb-3">
                <div class="card text-primary">
                    <div class="card-body d-flex justify-content-between">
                        <div class="d-flex justify-content-between">
                            <div>
                                <a href="#">
                                    <img src="{% static 'images/lifeCoachImg.jpg' %}" class="coach-img img-fluid"
                                        alt="coach-img">
                                </a>
                            </div>
                            <div>
                                <h4>Coach Name</h4>
                                <p>Coach Speciality</p>
                                <div>
                                    <div>
                                        <i class="bi bi-star-fill" style="color: gold;"></i>
                                        <i class="bi bi-star-fill" style="color: gold;"></i>
                                        <i class="bi bi-star" style="color: gold;"></i>
                                        <i class="bi bi-star" style="color: gold;"></i>
                                        <i class="bi bi-star" style="color: gold;"></i>
                                    </div>
                                </div>
                                <div>
                                    <i class="bi bi-geo-alt-fill"></i>
                                    <span>Egypt</span>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div>
                                <div class="m-2">
                                    <i class="bi bi-universal-access"></i>
                                    <span>Not Available for kids</span>
                                </div>
                                <div class="m-2">
                                    <i class="bi bi-cash"></i>
                                    <span>Price/30m</span>
                                </div>
                                <div class="m-2">
                                    <i class="bi bi-cash"></i>
                                    <span>Price/h</span>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="d-flex flex-column gap-2">
                                <div class="w-100"><button type="button" class="btn btn-outline-primary">VIEW COACH
                                        PROFILE</button></div>
                                <div class="w-100"><button type="button" class="btn btn-primary w-100">BOOK
                                        APPOINTMENT</button></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="card text-primary">
                    <div class="card-body d-flex justify-content-between">
                        <div class="d-flex justify-content-between">
                            <div>
                                <a href="#">
                                    <img src="{% static 'images/lifeCoachImg.jpg' %}" class="coach-img img-fluid"
                                        alt="coach-img">
                                </a>
                            </div>
                            <div>
                                <h4>Coach Name</h4>
                                <p>Coach Speciality</p>
                                <div>
                                    <div>
                                        <i class="bi bi-star-fill" style="color: gold;"></i>
                                        <i class="bi bi-star-fill" style="color: gold;"></i>
                                        <i class="bi bi-star" style="color: gold;"></i>
                                        <i class="bi bi-star" style="color: gold;"></i>
                                        <i class="bi bi-star" style="color: gold;"></i>
                                    </div>
                                </div>
                                <div>
                                    <i class="bi bi-geo-alt-fill"></i>
                                    <span>Egypt</span>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div>
                                <div class="m-2">
                                    <i class="bi bi-universal-access"></i>
                                    <span>Not Available for kids</span>
                                </div>
                                <div class="m-2">
                                    <i class="bi bi-cash"></i>
                                    <span>Price/30m</span>
                                </div>
                                <div class="m-2">
                                    <i class="bi bi-cash"></i>
                                    <span>Price/h</span>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="d-flex flex-column gap-2">
                                <div class="w-100"><button type="button" class="btn btn-outline-primary">VIEW COACH
                                        PROFILE</button></div>
                                <div class="w-100"><button type="button" class="btn btn-primary w-100">BOOK
                                        APPOINTMENT</button></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="card text-primary">
                    <div class="card-body d-flex justify-content-between">
                        <div class="d-flex justify-content-between">
                            <div>
                                <a href="#">
                                    <img src="{% static 'images/lifeCoachImg.jpg' %}" class="coach-img img-fluid"
                                        alt="coach-img">
                                </a>
                            </div>
                            <div>
                                <h4>Coach Name</h4>
                                <p>Coach Speciality</p>
                                <div>
                                    <div>
                                        <i class="bi bi-star-fill" style="color: gold;"></i>
                                        <i class="bi bi-star-fill" style="color: gold;"></i>
                                        <i class="bi bi-star" style="color: gold;"></i>
                                        <i class="bi bi-star" style="color: gold;"></i>
                                        <i class="bi bi-star" style="color: gold;"></i>
                                    </div>
                                </div>
                                <div>
                                    <i class="bi bi-geo-alt-fill"></i>
                                    <span>Egypt</span>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div>
                                <div class="m-2">
                                    <i class="bi bi-universal-access"></i>
                                    <span>Not Available for kids</span>
                                </div>
                                <div class="m-2">
                                    <i class="bi bi-cash"></i>
                                    <span>Price/30m</span>
                                </div>
                                <div class="m-2">
                                    <i class="bi bi-cash"></i>
                                    <span>Price/h</span>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="d-flex flex-column gap-2">
                                <div class="w-100"><button type="button" class="btn btn-outline-primary">VIEW COACH
                                        PROFILE</button></div>
                                <div class="w-100"><button type="button" class="btn btn-primary w-100">BOOK
                                        APPOINTMENT</button></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="card text-primary">
                    <div class="card-body d-flex justify-content-between">
                        <div class="d-flex justify-content-between">
                            <div>
                                <a href="#">
                                    <img src="{% static 'images/lifeCoachImg.jpg' %}" class="coach-img img-fluid"
                                        alt="coach-img">
                                </a>
                            </div>
                            <div>
                                <h4>Coach Name</h4>
                                <p>Coach Speciality</p>
                                <div>
                                    <div>
                                        <i class="bi bi-star-fill" style="color: gold;"></i>
                                        <i class="bi bi-star-fill" style="color: gold;"></i>
                                        <i class="bi bi-star" style="color: gold;"></i>
                                        <i class="bi bi-star" style="color: gold;"></i>
                                        <i class="bi bi-star" style="color: gold;"></i>
                                    </div>
                                </div>
                                <div>
                                    <i class="bi bi-geo-alt-fill"></i>
                                    <span>Egypt</span>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div>
                                <div class="m-2">
                                    <i class="bi bi-universal-access"></i>
                                    <span>Not Available for kids</span>
                                </div>
                                <div class="m-2">
                                    <i class="bi bi-cash"></i>
                                    <span>Price/30m</span>
                                </div>
                                <div class="m-2">
                                    <i class="bi bi-cash"></i>
                                    <span>Price/h</span>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="d-flex flex-column gap-2">
                                <div class="w-100"><button type="button" class="btn btn-outline-primary">VIEW COACH
                                        PROFILE</button></div>
                                <div class="w-100"><button type="button" class="btn btn-primary w-100">BOOK
                                        APPOINTMENT</button></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="card text-primary">
                    <div class="card-body d-flex justify-content-between">
                        <div class="d-flex justify-content-between">
                            <div>
                                <a href="#">
                                    <img src="{% static 'images/lifeCoachImg.jpg' %}" class="coach-img img-fluid"
                                        alt="coach-img">
                                </a>
                            </div>
                            <div>
                                <h4>Coach Name</h4>
                                <p>Coach Speciality</p>
                                <div>
                                    <div>
                                        <i class="bi bi-star-fill" style="color: gold;"></i>
                                        <i class="bi bi-star-fill" style="color: gold;"></i>
                                        <i class="bi bi-star" style="color: gold;"></i>
                                        <i class="bi bi-star" style="color: gold;"></i>
                                        <i class="bi bi-star" style="color: gold;"></i>
                                    </div>
                                </div>
                                <div>
                                    <i class="bi bi-geo-alt-fill"></i>
                                    <span>Egypt</span>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div>
                                <div class="m-2">
                                    <i class="bi bi-universal-access"></i>
                                    <span>Not Available for kids</span>
                                </div>
                                <div class="m-2">
                                    <i class="bi bi-cash"></i>
                                    <span>Price/30m</span>
                                </div>
                                <div class="m-2">
                                    <i class="bi bi-cash"></i>
                                    <span>Price/h</span>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="d-flex flex-column gap-2">
                                <div class="w-100"><button type="button" class="btn btn-outline-primary">VIEW COACH
                                        PROFILE</button></div>
                                <div class="w-100"><button type="button" class="btn btn-primary w-100">BOOK
                                        APPOINTMENT</button></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="card text-primary">
                    <div class="card-body d-flex justify-content-between">
                        <div class="d-flex justify-content-between">
                            <div>
                                <a href="#">
                                    <img src="{% static 'images/lifeCoachImg.jpg' %}" class="coach-img img-fluid"
                                        alt="coach-img">
                                </a>
                            </div>
                            <div>
                                <h4>Coach Name</h4>
                                <p>Coach Speciality</p>
                                <div>
                                    <div>
                                        <i class="bi bi-star-fill" style="color: gold;"></i>
                                        <i class="bi bi-star-fill" style="color: gold;"></i>
                                        <i class="bi bi-star" style="color: gold;"></i>
                                        <i class="bi bi-star" style="color: gold;"></i>
                                        <i class="bi bi-star" style="color: gold;"></i>
                                    </div>
                                </div>
                                <div>
                                    <i class="bi bi-geo-alt-fill"></i>
                                    <span>Egypt</span>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div>
                                <div class="m-2">
                                    <i class="bi bi-universal-access"></i>
                                    <span>Not Available for kids</span>
                                </div>
                                <div class="m-2">
                                    <i class="bi bi-cash"></i>
                                    <span>Price/30m</span>
                                </div>
                                <div class="m-2">
                                    <i class="bi bi-cash"></i>
                                    <span>Price/h</span>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="d-flex flex-column gap-2">
                                <div class="w-100"><button type="button" class="btn btn-outline-primary">VIEW COACH
                                        PROFILE</button></div>
                                <div class="w-100"><button type="button" class="btn btn-primary w-100">BOOK
                                        APPOINTMENT</button></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="card text-primary">
                    <div class="card-body d-flex justify-content-between">
                        <div class="d-flex justify-content-between">
                            <div>
                                <a href="#">
                                    <img src="{% static 'images/lifeCoachImg.jpg' %}" class="coach-img img-fluid"
                                        alt="coach-img">
                                </a>
                            </div>
                            <div>
                                <h4>Coach Name</h4>
                                <p>Coach Speciality</p>
                                <div>
                                    <div>
                                        <i class="bi bi-star-fill" style="color: gold;"></i>
                                        <i class="bi bi-star-fill" style="color: gold;"></i>
                                        <i class="bi bi-star" style="color: gold;"></i>
                                        <i class="bi bi-star" style="color: gold;"></i>
                                        <i class="bi bi-star" style="color: gold;"></i>
                                    </div>
                                </div>
                                <div>
                                    <i class="bi bi-geo-alt-fill"></i>
                                    <span>Egypt</span>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div>
                                <div class="m-2">
                                    <i class="bi bi-universal-access"></i>
                                    <span>Not Available for kids</span>
                                </div>
                                <div class="m-2">
                                    <i class="bi bi-cash"></i>
                                    <span>Price/30m</span>
                                </div>
                                <div class="m-2">
                                    <i class="bi bi-cash"></i>
                                    <span>Price/h</span>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="d-flex flex-column gap-2">
                                <div class="w-100"><button type="button" class="btn btn-outline-primary">VIEW COACH
                                        PROFILE</button></div>
                                <div class="w-100"><button type="button" class="btn btn-primary w-100">BOOK
                                        APPOINTMENT</button></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="card text-primary">
                    <div class="card-body d-flex justify-content-between">
                        <div class="d-flex justify-content-between">
                            <div>
                                <a href="#">
                                    <img src="{% static 'images/lifeCoachImg.jpg' %}" class="coach-img img-fluid"
                                        alt="coach-img">
                                </a>
                            </div>
                            <div>
                                <h4>Coach Name</h4>
                                <p>Coach Speciality</p>
                                <div>
                                    <div>
                                        <i class="bi bi-star-fill" style="color: gold;"></i>
                                        <i class="bi bi-star-fill" style="color: gold;"></i>
                                        <i class="bi bi-star" style="color: gold;"></i>
                                        <i class="bi bi-star" style="color: gold;"></i>
                                        <i class="bi bi-star" style="color: gold;"></i>
                                    </div>
                                </div>
                                <div>
                                    <i class="bi bi-geo-alt-fill"></i>
                                    <span>Egypt</span>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div>
                                <div class="m-2">
                                    <i class="bi bi-universal-access"></i>
                                    <span>Not Available for kids</span>
                                </div>
                                <div class="m-2">
                                    <i class="bi bi-cash"></i>
                                    <span>Price/30m</span>
                                </div>
                                <div class="m-2">
                                    <i class="bi bi-cash"></i>
                                    <span>Price/h</span>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="d-flex flex-column gap-2">
                                <div class="w-100"><button type="button" class="btn btn-outline-primary">VIEW COACH
                                        PROFILE</button></div>
                                <div class="w-100"><button type="button" class="btn btn-primary w-100">BOOK
                                        APPOINTMENT</button></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="card text-primary">
                    <div class="card-body d-flex justify-content-between">
                        <div class="d-flex justify-content-between">
                            <div>
                                <a href="#">
                                    <img src="{% static 'images/lifeCoachImg.jpg' %}" class="coach-img img-fluid"
                                        alt="coach-img">
                                </a>
                            </div>
                            <div>
                                <h4>Coach Name</h4>
                                <p>Coach Speciality</p>
                                <div>
                                    <div>
                                        <i class="bi bi-star-fill" style="color: gold;"></i>
                                        <i class="bi bi-star-fill" style="color: gold;"></i>
                                        <i class="bi bi-star" style="color: gold;"></i>
                                        <i class="bi bi-star" style="color: gold;"></i>
                                        <i class="bi bi-star" style="color: gold;"></i>
                                    </div>
                                </div>
                                <div>
                                    <i class="bi bi-geo-alt-fill"></i>
                                    <span>Egypt</span>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div>
                                <div class="m-2">
                                    <i class="bi bi-universal-access"></i>
                                    <span>Not Available for kids</span>
                                </div>
                                <div class="m-2">
                                    <i class="bi bi-cash"></i>
                                    <span>Price/30m</span>
                                </div>
                                <div class="m-2">
                                    <i class="bi bi-cash"></i>
                                    <span>Price/h</span>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="d-flex flex-column gap-2">
                                <div class="w-100"><button type="button" class="btn btn-outline-primary">VIEW COACH
                                        PROFILE</button></div>
                                <div class="w-100"><button type="button" class="btn btn-primary w-100">BOOK
                                        APPOINTMENT</button></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="card text-primary">
                    <div class="card-body d-flex justify-content-between">
                        <div class="d-flex justify-content-between">
                            <div>
                                <a href="#">
                                    <img src="{% static 'images/lifeCoachImg.jpg' %}" class="coach-img img-fluid"
                                        alt="coach-img">
                                </a>
                            </div>
                            <div>
                                <h4>Coach Name</h4>
                                <p>Coach Speciality</p>
                                <div>
                                    <div>
                                        <i class="bi bi-star-fill" style="color: gold;"></i>
                                        <i class="bi bi-star-fill" style="color: gold;"></i>
                                        <i class="bi bi-star" style="color: gold;"></i>
                                        <i class="bi bi-star" style="color: gold;"></i>
                                        <i class="bi bi-star" style="color: gold;"></i>
                                    </div>
                                </div>
                                <div>
                                    <i class="bi bi-geo-alt-fill"></i>
                                    <span>Egypt</span>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div>
                                <div class="m-2">
                                    <i class="bi bi-universal-access"></i>
                                    <span>Not Available for kids</span>
                                </div>
                                <div class="m-2">
                                    <i class="bi bi-cash"></i>
                                    <span>Price/30m</span>
                                </div>
                                <div class="m-2">
                                    <i class="bi bi-cash"></i>
                                    <span>Price/h</span>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="d-flex flex-column gap-2">
                                <div class="w-100"><button type="button" class="btn btn-outline-primary">VIEW COACH
                                        PROFILE</button></div>
                                <div class="w-100"><button type="button" class="btn btn-primary w-100">BOOK
                                        APPOINTMENT</button></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}